@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @font-face {
        font-family: Ephemeris;
        src: local("Ephemeris"),
        url("./fonts/Ephemeris-Regular.ttf") format("truetype");;
    }

    .-z-10 {
        z-index: -10;
    }

    .-z-20 {
        z-index: -20;
    }

    .intro-text {
        overflow-wrap: anywhere;
    }
            
    .single-letter {
        display: inline-block;
        transform-origin: 50% 84%;
        
    }

    .hovered {
        /* animation-name: stretch;
        animation-duration: 0.15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards; */
        font-family: Major Mono Display;
    }

    .unhovered {
        /* animation-name: stretch-back;
        animation-duration: 0.25s;
        animation-timing-function: linear; */
    }

    .line-1{
        position: relative;
        top: 50%;  
        margin: 0;
        border-right: 2px solid rgba(255,255,255,.75);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);    
    }
    

    .anim-typewriter{
        animation: typewriter 1s steps(44) 1s 1 normal both,
                   blinkTextCursor 500ms steps(44) infinite normal;
      }

    @keyframes typewriter{
        from{width: 0;}
        to{width: 28em;} 
        /* hardcoded */
      }

    @keyframes stretch {
        from,
        0% {
      
        }
      
        40% {
            transform: scale(1, 1.35);
        }
      
        100% {
            transform: scale(1, 1.2);
        }
      }
      
      @keyframes stretch-back {
        from,
        0% {
            transform: scale(1, 1.2);
        }
      
        33% {
            transform: scale(1, 1);
        }
      
        66% {
            transform: scale(1, 1.08);
        }
      
        100% {
            transform: scale(1, 1);
        }
      }

      /* sliding right animation */
      .anim-slide-right{
        animation: slide-right 500ms;
        transition: all 500ms cubic-bezier(0.675, 0.045, 0.085, 1.015);
      }

      @keyframes slide-right {
          from,
          0% {
              opacity: 0%;
              transform: translateX(-100%);
          }

          50% {
              opacity: 50%;
              transform: translateX(5%);
          }

          100% {
              opacity: 100%;
              transform: translateX(0%);
          }
      }

      /* sliding left animation */
      .anim-slide-left{
        animation: slide-left 500ms;
        transition: all 500ms cubic-bezier(0.675, 0.045, 0.085, 1.015);
      }

      @keyframes slide-left {
          from,
          0% {
              opacity: 0%;
              transform: translateX(100%);
          }

          /* 50% {
              opacity: 50%;
              transform: translateX(5%);
          } */

          100% {
              opacity: 100%;
              transform: translateX(0%);
          }
      }

      /* sliding right animation */
      .anim-fade-in{
        animation: fade-in 500ms;
        transition: all 500ms cubic-bezier(0.675, 0.045, 0.085, 1.015);
      }

      @keyframes fade-in {
          from {
              opacity: 0%;
          }

          to {
              opacity: 100%;
          }
      }

}
